.orderLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid var(--app-border-color);
}

.orderFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 14px;
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid var(--app-border-color);
}
