.movie-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.movie-picker select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
