.legend {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, max-content));
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 16px;
    margin: 0;
    padding: 24px 0;
    color: var(--app-secondary-text);
    border-radius: var(--app-border-radius-m);
    background-color: var(--app-secondary-bg);
    list-style: none;
}

.legendItem {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.legendItemName {
    font-size: 14px;
    text-transform: capitalize;
    color: var(--app-primary-text);
}

.legendItemPrice {
    font-size: 14px;
}

.legendItemWrap {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.legendItemSeat {
    position: relative;
    pointer-events: none;
}

.legendItemSeat:hover {
    border-color: transparent;
    transform: scale(1);
    cursor: default;
}
