.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  text-decoration: none;
  color: var(--app-white-color);
  background-color: var(--app-primary-button);
  border: 1px solid transparent;
  border-radius: var(--app-border-radius-s);
  transition-property: opacity, background-color;
  transition-duration: 0.2s;
}

.button:hover:not(:disabled) {
  background-color: var(--app-primary-button-hover);
  cursor: pointer;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.isDisabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
