.seat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 34px;
  padding: 4px;
  color: var(--app-seat-text);
  border-top-left-radius: var(--app-border-radius-m);
  border-top-right-radius: var(--app-border-radius-m);
  background-color: var(--app-seat-regular-color);
  border: 1px solid transparent;
  transition-property: scale, background-color, border-color, color;
  transition-duration: 0.2s;
  cursor: pointer;
}

.seat.selected {
  color: var(--app-secondary-text);
  background-color: var(--app-cyan-color);
}

.seat.occupied {
  background-color: var(--app-white-color);
}

.seat:hover.seat.occupied {
  border-color: transparent;
  scale: 1;
  cursor: not-allowed;
}

.seat:hover {
  border-color: var(--app-blue-color);
  scale: 1.2;
  cursor: pointer;
}

.seat:focus,
.seat:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.seat.disabled:hover {
  scale: 1;
  cursor: default;
}
