.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.legend {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  border-radius: 5px;
  color: #777777;
  background-color: rgba(0, 0, 0, 0.1);
  list-style-type: none;
}

.legend__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.legend__item small {
  margin-left: 2px;
}

.seat {
  background-color: #444451;
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat.selected {
  background-color: #6feaf6;
}

.seat.occupied {
  background-color: #ffffff;
}
