.cartItem {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  align-items: center;
  gap: 16px;
  padding: 24px;
  border-top: 1px solid var(--app-border-color);
}

.cartItemControls {
  display: grid;
  grid-template-columns: max-content max-content auto;
  align-items: center;
  gap: 16px;
}

.cartRemoveButton {
  justify-self: end;
}
